* {
    margin: 0;
    padding: 0;
}

.div-wrapper{
    background: rgb(238, 119, 139);
    padding: 20px 100px 20px;
    border-radius: 50px;
    margin: 10px auto; 
    width: 960px;
    box-shadow: 18px 12px  rgb(201, 100, 117), 20px 15px 20px  rgb(122, 118, 121);
    
}

.p-top{
    display: inline-block;
    padding: 10px 50px;
    margin-bottom: 20px;
    color: white;
    font-size: 3rem;
    height: 50px;
    background: linear-gradient(180deg, #787878 0%, #b5b5b5 25%, #fffdfd 50%, #b5b5b5 75%, #787878 100%);
    
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.3), 1px 1px 1px rgba(0,0,0,.26); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.div-screen{
    display: grid;
    width: 960px;
    height: 960px;
    background: linear-gradient(90deg, rgba(181,185,182,1) 0%, rgba(213,223,217,1) 43%, rgba(165,171,167,1) 100%);
    outline: 5px solid rgba(201, 100, 117,0.9);
    border-radius: 10px;
}

.square{
    outline: solid 1px black;
    outline-offset: -1px;
    display:inline;
}
.sec-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

button{
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 10px;
}

.fig-knob{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 56%, rgba(215,221,215,1) 91%); 

    padding: 20px;
    box-shadow: 15px 10px 2px rgba(0, 0, 0, 0.29);
    border-top:solid 1px rgba(255, 255, 255, 0.3);
    border-left:solid 1px rgba(255, 255, 255, 0.3);
    border-bottom: solid 8px lightgrey;
    border-right: solid 8px lightgrey;
    transform: rotate(5deg);
    
}

p#text{
    font-size: 1.5rem;
    text-align: center;
    background: linear-gradient(180deg, #787878 0%, #b5b5b5 25%, #fffdfd 50%, #b5b5b5 75%, #787878 100%);
    
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.26); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.github{
    height: 30px;
    width: 30px;
    background: rgb(238, 119, 139) ;
}
