:root {
    --screen: linear-gradient(90deg, rgba(181,185,182,1) 0%, rgba(213,223,217,1) 43%, rgba(165,171,167,1) 100%);
}
* {
    margin: 0;
    padding: 0;
}



.div-wrapper{
    background: rgb(238, 119, 139);
    padding: 20px 100px 20px;
    border-radius: 50px;
    margin: 10px auto; 
    /* width: 960px; */
    width: 560px;
    box-shadow: 18px 12px  rgb(201, 100, 117), 20px 15px 20px  rgb(122, 118, 121);
    
}

.p-top{
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 5px;
    color: white;
    font-size: 2rem;
    height: 50px;
    background: linear-gradient(180deg, #787878 0%, #b5b5b5 25%, #fffdfd 50%, #b5b5b5 75%, #787878 100%);
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.3), 1px 1px 1px rgba(0,0,0,.26); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.div-screen{
    display: grid;
    width: 560px;
    height: 560px;
    background: var(--screen);
    outline: 5px solid rgba(201, 100, 117,0.9);
    border-radius: 10px;
}

.square{
    outline: solid 1px black;
    outline-offset: -1px;
    display:inline;
}
.sec-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px -70px -20px;
    padding: 10px;
}

.knob-text{
    padding: 10px 0px;
}

section p:first-of-type{
    margin-right: 280px;
}

/* button{
    width: 150px;
    height: 50px;
    font-size: 1.1rem;
    border-radius: 10px;
} */

.fig-knob{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 56%, rgba(215,221,215,1) 91%); 
    padding: 20px;
    padding-top: 10px;
    box-shadow: 15px 10px 2px rgba(0, 0, 0, 0.29);
    border-top:solid 1px rgba(255, 255, 255, 0.3);
    border-left:solid 1px rgba(255, 255, 255, 0.3);
    border-bottom: solid 8px lightgrey;
    border-right: solid 8px lightgrey;
}

p#text, .knob-text{
    font-size: 1.5rem;
    text-align: center;
    background: linear-gradient(180deg, #787878 0%, #b5b5b5 25%, #fffdfd 50%, #b5b5b5 75%, #787878 100%);
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.26); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.github{
    height: 30px;
    margin-bottom: -5px;

}

/* @media screen and (max-width: 390px) { */
    @media screen and (max-width: 760px) {
    .div-wrapper{
        width: 80vw;
        padding: 20px 20px;
         border-radius: 50px;
         margin: 10px 5px;
    }
  
    .div-screen{
        width: 80vw;
        margin-top: 10px;
    }

    .p-top{
        display: inline;
        font-size: 1rem;
        padding: 10px 12px;
        margin: 10px 0px;
    }

    section p:first-of-type{
        margin-right: 10px;
    }

    .fig-knob{
        width: 20px;
        height: 20px;
        padding: 10px;
        box-shadow: 10px 5px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 5px lightgrey;
        border-right: solid 5px lightgrey;
    }

    .sec-controls {
        justify-content: center;
        gap: 10px;
    }

    p#text{
        margin-top: 20px;   

    }
 
}
